* {
    margin: 0;
    padding: 0;
}

html, body {
    font-size: 16px;
    font-family: 'Raleway';
}

.container {
    margin-right: 70px;
    margin-left: 70px;
    height: 90px;
    background-color: white;
    font-size: 18px;
}

.navbar-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.navbar-flex ul {
    list-style: none;
}

.navbar-flex ul li {
    padding-left: 50px;
}

.center-navbar ul {
    display: flex;
}

.center-navbar ul li a:hover {
    text-decoration: underline;
    color: rgb(185, 46, 113);
    transition: all 150ms ease-in-out;
}

.right-navbar ul {
    display: flex;
}

.right-navbar ul li a {
    padding: 15px 25px;
    border-radius: 30px;
}

.navbar-flex ul li a {
    text-decoration: none;
    color: black;
}

.right-navbar .white-btn a {
    background-color: #ff6185;
    color: white;
    margin-right: -20px;
}

.right-navbar .white-btn a img {
    width: 20px;
}

.donate {
    padding-right: 10px;
}

.right-navbar .white-btn a:hover {
    background-color: white;
    color: #d2395c;
    /* Pse spo bon veq border */
    border-top: 2px solid #9f2842;
    border-bottom: 2px solid #8f4761;
    transition: all 250ms ease-in-out;
}

.right-navbar .dark-btn a {
    background-color: #8f4761;
    color: white;
    margin-left: -20px;
}

.right-navbar .dark-btn a:hover {
    background-color: #72324a;
    transition: all 250ms ease-in-out;
}

/* FOTOJA PAS NAVBAR-IT*/
/* KONTENTIN UNDER E POZICIONON ABSOLUTE */
/* HEADERIN - RELATIVE */

/* z-index */
.hero-image {
    /* position: relative;  */
    height: calc(100vh - 90px);
    background: linear-gradient(63.43deg, #9f2842 0, #f05473 100%), linear-gradient(63.43deg, #d2395c 0, #ff6185 100%);
}

.support-image {
    position: absolute;
    bottom: -4px;
    right: 0;
    z-index: 10;
}


.hero-brush img {
    position: absolute;
    /* In smaller screens  */
    right: 0;
    bottom: 0;
    height: 700px;
    /*Hack*/
    /* z-index: 2; */
}

/* z-index */


.hero-text {
    color: white;
    font-size: 38px;
    margin-left: 70px;
    position: absolute;
    top: 230px;
}

.hero-text span {
    font-size: 30px;
}

.support-btn {
    position: absolute;
    /* Pse po duhet absolute per me funksionu punu*/
    text-decoration: none;
    color: white;
    font-size: 25px;
    border: 2px solid white;
    border-radius: 40px;
    padding: 20px 40px;
    margin-top: 30px;
}

.support-btn:hover {
    color: #d2395c;
    background-color: white;
    transition: all 250ms ease-in-out;
}

/* SECTION-1 */
.section-1 {
    /* display: flex; me lon qeshtu border te butoni shume wide*/
    /* flex-direction: column; */
    text-align: center;
    font-size: 30px;
    margin: 70px 280px;
}

.section-1 h2 {
    font-size: 15px;
    color: grey;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.section-1-p {
    font-size: 35px;
    line-height: 70px;
    letter-spacing: 2px;
    font-weight: 300;
}


.popular-btn a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    border: 1px solid #f05473;
    padding: 15px 30px;
    border-radius: 35px;
    font-weight: 500;
}

.popular-btn a:hover {
    color: #9f2842;
    transition: all 200ms ease-in-out;
}

.section-1 div {
    margin-top: 60px;
}

/* Section-2 */
.section-2 {
    margin: 100px 100px;
}

.section-2 h1 {
    display: flex;
    justify-content: center;
    margin-bottom: 130px;
    font-size: 42px;
    color: #280814c4;
}

.three-parts {
    display: flex;
    margin-left: 60px;
}

.one-part {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 30px;
    margin: 0 40px;
}

.one-part h2 {
    color: #280814c4;
    padding: 10px 0 20px;
}

.one-part p {
    line-height: 25px;
    letter-spacing: 2px;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
    padding: 0;
}

.pink-circle {
    position: absolute;
    background-color: #ddbecf1a;
    top: -70px;
    left: -50px;
    border-radius: 100%;
    height: 220px;
    width: 220px;
}

/* Section-2 */
/* Section-3 */

.section-3 {
    margin: 200px 180px 150px;
    display: flex;
    align-items: center;
}

/* text */

.section-3-text {
    color: #46363b;
    letter-spacing: 2px;
}

.section-3-text h2 {
    text-transform: uppercase;
    font-size: 15px;
    margin: 0px 0px 20px;

}

.section-3-text q {
    font-size: 32px;
    line-height: 50px;
}

.section-3-text p:first-of-type {
    margin-top: 20px;
    margin-bottom: 10px;
}


/* image */
.section-3-img {
    position: relative;
    margin-left: 150px;
}

.section-3 img:first-child {
    border-radius: 20px;
}


.section-3-pink-brush {
    position: absolute;
    top: 370px;
    left: 150px;
}

.section-3-pink-circle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Pse me align-items nuk po pozicionohet bash ne mes */
    /* align-items: center; */
    position: absolute;
    top: 200px;
    left: -100px;
    height: 242px;
    width: 242px;
    background-color: rgba(255, 97, 133, .8);
    border-radius: 100%;
    text-align: center;
    color: white;
}

.section-3-pink-circle h2 {
    font-size: 50px;
}

.section-3-pink-circle p {
    font-size: 20px;
    padding: 10px 20px;
}

/* Section-3 */
/* Section-4 */

.section-4 {
    margin: 0px 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Title */

.section-4-title {
    color: #46363b;
    text-align: center;
}

.section-4-title h1 {
    font-size: 52px;
    font-weight: 600;
    margin-bottom: 20px;
}

.section-4-title p {
    font-size: 20px;
}



/* Images */

.section-4-images-container {
    margin-top: 50px;
    display: flex;
}

.section-4-images-container div {
    border-radius: 5px;
    background-color: #9b9d9c;
    margin: 10px;
    padding: 55px 20px 10px;
}

.section-4-images-container img {
    margin-bottom: -13px;
}

.section-4-images-container h2, p {
    padding: 0 30px;
}

.section-4-images-container h2 {
    color: white;
    font-size: 26px;
    margin: 0px 0px 10px;
}

.section-4-images-container div:hover {
    position: relative;
    top: -10px;
    background-color: #606968;
    transition: all  ease-in-out  0.25s;
}

.section-4-images-container p {
    color: white;
    font-size: 20px;
    margin: 0px 0px 45px;
}

/* Button */

.section-4 .popular-btn{
    margin: 50px 0;
}

/* Section-4 */